// Here you can add other styles
.disabled-btn {
  opacity: 0.35 !important;
  pointer-events: none !important;
  box-shadow: none !important;
}

.was-validated .form-check-input:valid ~ .form-check-label,
.form-check-input.is-valid ~ .form-check-label {
  color: rgba(0, 0, 0, 0.8);
}
