@font-face {
  font-family: "shabnam";
  src: url("../fonts/shabnam/Shabnam-Light-FD.woff2") format("woff2");
  font-weight: 200;
}

@font-face {
  font-family: "shabnam";
  src: url("../fonts/shabnam/Shabnam-FD.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "shabnam";
  src: url("../fonts/shabnam/Shabnam-Medium-FD.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "shabnam";
  src: url("../fonts/shabnam/Shabnam-Bold-FD.woff2") format("woff2");
  font-weight: 900;
}
